doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title We are not Object Oriented anymore

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        a(href="http://nearform.com" style="width: 20%")
          img(src="./images/nearform.svg")
        h1 We are not Object Oriented anymore
        h2 by&nbsp;
          a(href="http://twitter.com/matteocollina") @matteocollina

      section(data-bespoke-backdrop='objects').trans
        h2(style="color: white") What is an Object?

      section
        h2 Objects provides
        ul
          li Encapsulation
          li Accessor
          li Abstraction
          li Inheritance
          li Polymorphism

      section
        img(src="images/classes.gif" style="width: 100%")

      section
        img(src="images/poop.png" style="height: 100%")
        .copyright
          | by Mayene de La Cruz&nbsp;
          a(href="http://creativecommons.org/licenses/by/3.0/deed.en_US")
            img(src="images/cc_attribution.png")

      section(data-bespoke-backdrop='kay').transwhite
        br
        br
        br
        p
          i.fa.fa-quote-left &nbsp;
          | The key in making great and growable systems is much more
          | to design how its modules communicate rather than what
          | their internal properties and behaviors should be.
          i.fa.fa-quote-right &nbsp;
          | - Alan Key, father of OOP
        .copyright
          | Image by Marcin Wichary&nbsp;
          a(href="http://creativecommons.org/licenses/by/3.0/deed.en_US")
            img(src="images/cc_attribution.png")

      section
        h2 HERE GOES sequence diagram

      section
        a(href="https://vimeo.com/108441214")
          img(src="images/destroying-code.png" style="width: 100%")

      section
        p
          i.fa.fa-quote-left &nbsp;
          | Writing code for the sole purpose of deleting it&nbsp;
          i.fa.fa-quote-right &nbsp;
          | - Greg Young


    script(src='build/build.js')
